/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #262b2e;
}

p,
li {
    color: #444;
    font-size: 16px;
}

/* Navbar */
header,
.navbar {
    background-color: #15181a;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

.logo_title,
.logo_link {
    font-size: 20px;
}

.logo_link {
    color: #71CBFF;
}

/* Table Buttons */
.add_btn {
    color: white;
}

.add_btn:hover {
    color: #71CBFF;
}

.icon_btn {
    border: 3px;
}

.delete_btn {
    color: red;
}

.invest_btn:hover {
    color: greenyellow;
}